.drawer {
  height: 100vh;
  width: 25vw;
  position: fixed;
}

.opened {
  transition: 300ms ease-in-out;
}
.closed-left {
  left: -100%;
  transition: 600ms ease-out;
}
.closed-right {
  right: -100%;
  transition: 600ms ease-in;
}

.left{
  left: 0;
}
.right{
  right: 0;
}

.fromRight{
  right: 2%;
  transition: 200ms ease-in-out;
}

.icon {
  font-size: xx-large;
}

.body-item {
  border: 1px solid black;
  border-radius: 2px;
  margin: auto;
  height: 100%;
  width: 100%;
}
